* {
    padding: 0;
    margin: 0;
}

.container {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.showcase {
    padding-top: 0rem;
}

.headline {
    font-size: 4rem;
    text-align: center;
}

.sen-1, .sen-2 {
    font-size: 2rem;
    text-align: center;
}

.content{
    justify-content: center;
}

.sen-1 {
    padding-left: 0;
}

.sen-3 {
    text-align: center;
    padding-right: 0;
}
